* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Digital';
    src: url('../fonts/digital-7.regular.ttf');
}

.night { background-color: blueviolet }
.dawn { background-color: orange }
.day { background-color: yellow }

.error {
    color: red;
    font-weight: bold;
}

#ClockTower {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    min-height: 100vh;
    transition: background-color 2s;
    -webkit-transition: background-color 2s;
    width: 100%;
}

#ClockTower h1 {
    background-color: black;
    color: greenyellow;
    font-family: 'Digital';
    margin: 0 0 20px;
    padding: 20px;
    width: 100%;
}

#ClockTower form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 15px;
    width: 250px;
}

.digitalClock {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.digitalClock label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.digitalClock input {
    background-color: black;
    color: greenyellow;
    font-family: 'Digital';
    font-size: 30px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}

#ClockTower-currentTime {
    align-items: center;
    display: flex;
    width: 150px;
}

#ClockTower-currentTime div {
    background-color: black;
    border: 2px solid lightgrey;
    color: greenyellow;
    display: flex;
    font-family: 'Digital';
    font-size: 30px;
    padding: 10px;
    justify-content: center;
    width: 100px;
}

#ClockTower-currentTime div span {
    text-align: right;
    width: 16px;
}

#ClockTower-currentTime div span.colon {
    text-align: center;
}

.clockField:disabled {
    background-color: darkgrey;
}

#ClockTower button {
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
    width: 100px;
}

#ClockTower-startClock {
    
}

#ClockTower-bellCounter {
    align-items: center;
    display: flex;
}

#ClockTower-bellCounter h2 {
    margin-right: 15px;
}

#ClockTower-bellCounter p {

}

#ClockTower-clockTower {
    background: url('../images/clock-tower.png') no-repeat;
    background-size: contain;
    height: 390px;
    left: 8px;
    position: relative;
    width: 150px;
}

#ClockTower-hourHand {
    /* animation: hands-spin infinite 6s linear; */
    background: url('../images/hour-hand.png') no-repeat;
    background-size: contain;
    height: 23px;
    top: 220px;
}

#ClockTower-minuteHand {
    /* animation: hands-spin infinite 1s linear; */
    background: url('../images/minute-hand.png') no-repeat;
    background-size: contain;
    height: 34px;
    top: 209px;
}

#ClockTower-center {
    background-color: black;
    border-radius: 5px;
    height: 10px;
    left: 60px;
    position: absolute;
    top: 238px;
    width: 10px
}

.ClockTower-hand {
    left: 61px;
    position: absolute;
    transform-origin: bottom center;
    width: 8px;
}